[core]
    excludesfile = /Users/neilli1992/.gitignore_global
    pager = less -r

[user]
    name = Yong Li
    email = yong.li1992@foxmail.com
  
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    co = checkout
    br = branch
    st = status
    ci = commit
